<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wormName</key>
	<array>
		<string>油茶尺蛾</string>
		<string>茶用克尺蛾</string>
		<string>油茶枯叶蛾</string>
		<string>油茶毒蛾</string>
		<string>幻带黄毒蛾</string>
		<string>半带黄毒蛾</string>
		<string>油茶褐刺蛾</string>
		<string>茶斑蛾</string>
		<string>黄点带锦斑蛾</string>
		<string>野茶带锦斑蛾</string>
		<string>南大蓑蛾</string>
		<string>茶大蓑蛾</string>
		<string>褐蓑蛾</string>
		<string>丝脉蓑蛾</string>
		<string>蜡彩蓑蛾</string>
		<string>短角外斑腿蝗</string>
		<string>广西灰象</string>
		<string>阔边梳龟甲</string>
		<string>白蛾蜡蝉</string>
		<string>褐缘蛾蜡蝉</string>
		<string>缘纹广翅蜡蝉</string>
		<string>八点广翅蜡蝉</string>
		<string>龙眼鸡</string>
		<string>麻皮蝽</string>
		<string>油茶宽盾蝽</string>
		<string>茶二叉蚜</string>
		<string>长白蚧</string>
		<string>山茶片盾蚧</string>
		<string>吹绵蚧</string>
		<string>中华皮蓟马</string>
		<string>星天牛</string>
		<string>茶天牛</string>
		<string>黄带楔天牛</string>
		<string>茶堆沙蛀蛾</string>
		<string>油茶织蛾</string>
		<string>同型巴蜗牛</string>
	</array>
	<key>diseaseName</key>
	<array>
		<string>油茶炭疽病</string>
		<string>油茶黑斑病</string>
		<string>油茶灰斑病</string>
		<string>油茶白星病</string>
		<string>油茶藻斑病</string>
		<string>油茶叶肿病</string>
	</array>
	<key>wormList</key>
	<array>
		<string>分布与危害</string>
		<string>形态特征</string>
		<string>分布特点</string>
		<string>天敌</string>
		<string>主要控制技术</string>
	</array>
	<key>diseaseList</key>
	<array>
		<string>症状</string>
		<string>分布与危害</string>
		<string>病原菌</string>
		<string>分布特点</string>
		<string>主要控制技术</string>
	</array>
</dict>
</plist>
